
body {
  font-family: "Montserrat";
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #ADC4CE;
}

/* heading */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5rem;
}

#title {
  background-color: #0079FF;
  color: #FFF;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation bar */

.navbar {
  padding-bottom: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu"
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Download Buttons */

.Download-Buttons {
  margin: 5% 3% 5% 0%
}

/* Title Image */

.title-image {
  width: 50%
}

/* features section */

#features {
  padding-left: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-title {
    font-size: 1.5rem;
}

.feature-box {
  text-align: center;
  padding: 10%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonial section */


#testimonials {
  padding: 7% 15%
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}


.testimonial-image {
  width: 15%
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing section */

#pricing {
  padding: 100px;
  text-align: center;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA section */
#cta {
  background-color: #0079FF;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-family: "Montserrat-black";
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer section */

#footer {
  padding: 7% 15%;
  text-align: center;
}

.social-media {
  margin: 20px 15px;
}

@media (max-width: 1028px) {

  #Title{
  text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
